Repository SakulFlee/sakulflee.github.io: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly, docker

docker_base:
  image: docker:stable
  stage: docker_base
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/base
  before_script:
  - if [ ! -d "logs" ]; then mkdir -p logs; fi
  ...

docker_lnx_x86_64_stable:
  image: docker:stable
  stage: docker
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVE: overlay2
    NAME: lnx_x86_64_stable
    FILE_NAME: docker/$NAME.docker
    IMAGE_NAME: $CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$NAME
  before_script:
  ...

docker_lnx_x86_64_beta:
  image: docker:stable
  stage: docker
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVE: overlay2
    NAME: lnx_x86_64_beta
    FILE_NAME: docker/$NAME.docker
    IMAGE_NAME: $CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$NAME
  before_script:
  ...

docker_lnx_x86_64_nightly:
  image: docker:stable
  stage: docker
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVE: overlay2
    NAME: lnx_x86_64_nightly
    FILE_NAME: docker/$NAME.docker
    IMAGE_NAME: $CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$NAME
  before_script:
  ...

docker:
  stage: docker
  image: docker
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVE: overlay2
    IMAGE_NAME: $CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME
  before_script:
  - docker info
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  ...

Updated icons
  optimize_icons.sh
  src/icons/discord.svg
  src/icons/github.svg
  src/icons/gitlab.svg
  src/icons/keybase.svg
  src/icons/linkedin.svg
  src/icons/mail.svg
  src/icons/mastodon.svg
  src/icons/telegram.svg
  src/icons/twitter.svg
  src/icons/xing.svg
Due: none

Rewrote Nginx config
  nginx.conf
Due: none

Added terminators
  nginx.conf
Due: none

Nginx: removed logs
  nginx.conf
Due: none

Formatted files
  build.sh
  optimize_icons.sh
Due: none

Fixed needing permissions
  .gitlab-ci.yml
Due: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly

Revert "Formatted files"
  build.sh
  optimize_icons.sh
Due: none

Revert "Fixed needing permissions"
  .gitlab-ci.yml
Due: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly

Exit as rust user in Dockerfile
  Dockerfile
Due: docker

Made scripts executable
  build.sh
  optimize_icons.sh
Due: none

Revert "Exit as rust user in Dockerfile"
  Dockerfile
Due: docker

Made files executable
  build.sh
  optimize_icons.sh
Due: none

CI: Added file permission task
  .gitlab-ci.yml
Due: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly

Calling bash directly
  .gitlab-ci.yml
Due: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly

Renamed Dockerfile -> deploy.docker
  .gitlab-ci.yml
  deploy.docker
Due: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly

Removed XING icon
  src/html/index.html
Due: none

CI: Added master deploy stage
  .gitlab-ci.yml
Due: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly

Removed StackOverflow icon
  src/html/index.html
Due: none

Removed Discord icon
  src/html/index.html
Due: none

Removed Twitter icon
  src/html/index.html
Due: none

Removed Mastodon icon
  src/html/index.html
Due: none

Removed blog icon
  src/html/index.html
Due: none

Split nginx configurations into staging and master
  nginx-master.conf
  nginx-staging.conf
Due: none

Changed deploy configs in CI and added web-trigger for deploy stages
  .gitlab-ci.yml
Due: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly

Issue #5: Job Failed #295393802
  .gitlab-ci.yml
Due: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly

Removed split configs
  nginx-master.conf
  nginx-staging.conf
Due: none

Using shared config
  .gitlab-ci.yml
  nginx.conf
Due: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly

Removed web trigger
  .gitlab-ci.yml
Due: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly

Renamed all container instances to the right name
  .gitlab-ci.yml
Due: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly

Changed master path on remote
  .gitlab-ci.yml
Due: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly

Added rust buildtool project
  Cargo.toml
  src/application_context.rs
  src/folder_configuration.rs
  src/main.rs
  src/processor/copy_processor.rs
  src/processor/css_processor.rs
  src/processor/html_processor.rs
  src/processor/mod.rs
Due: none

Removed .vscode/ ignore rule and added pkg/ ignore rule
  .gitignore
Due: none

Added vscode settings and tasks
  .vscode/settings.json
  .vscode/tasks.json
Due: none

Added docker compose (for testing locally)
  docker-compose.yml
Due: none

Moved all SASS/SCSS files into one location
  web/sass/icons.scss
  web/sass/main.scss
  web/sass/start-frame.scss
Due: none

Renamed dots project
  web/rust/dots/Cargo.toml
Due: none

Renamed js module
  web/html/index.html
Due: none

Removed build.sh
  build.sh
Due: none

Added `cargo run` to pipeline
  .gitlab-ci.yml
Due: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly

Path conditions:
  docker_base: any of: .gitlab-ci.yml, .gitlab-ci-docker.yml, .gitlab-ci-docker-lnx.yml, .gitlab-ci-docker-win.yml, .gitlab-ci-rust-validation-win.yml, .gitlab-ci-rust-validation.yml, .gitlab-ci-rust-build.yml, .gitlab-ci-rust-build-lnx.yml, .gitlab-ci-rust-build-win.yml, .gitlab-ci-docker-base.yml, .gitlab-ci-rust-validation-lnx.yml, docker/*
  docker_lnx_x86_64_stable: any of: .gitlab-ci*, docker/base.docker, docker/lnx_x86_64_stable
  docker_lnx_x86_64_beta: any of: .gitlab-ci*, docker/base.docker, docker/lnx_x86_64_beta
  docker_lnx_x86_64_nightly: any of: .gitlab-ci*, docker/base.docker, docker/lnx_x86_64_nightly
  docker: any of: Dockerfile
