Repository SakulFlee/sakulflee.github.io: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly

docker_base:
  image: docker:stable
  stage: docker_base
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/base
  before_script:
  - if [ ! -d "logs" ]; then mkdir -p logs; fi
  ...

docker_lnx_x86_64_stable:
  image: docker:stable
  stage: docker
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVE: overlay2
    NAME: lnx_x86_64_stable
    FILE_NAME: docker/$NAME.docker
    IMAGE_NAME: $CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$NAME
  before_script:
  ...

docker_lnx_x86_64_beta:
  image: docker:stable
  stage: docker
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVE: overlay2
    NAME: lnx_x86_64_beta
    FILE_NAME: docker/$NAME.docker
    IMAGE_NAME: $CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$NAME
  before_script:
  ...

docker_lnx_x86_64_nightly:
  image: docker:stable
  stage: docker
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVE: overlay2
    NAME: lnx_x86_64_nightly
    FILE_NAME: docker/$NAME.docker
    IMAGE_NAME: $CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$NAME
  before_script:
  ...

CI: Added additional flags to skip integrity checks for arm-gnueabihf packages
  docker/lnx_gnueabihf_beta.docker
  docker/lnx_gnueabihf_nightly.docker
  docker/lnx_gnueabihf_stable.docker
Due: docker_base

CI: Changed illegal yay flag for gnueabihf images
  docker/lnx_gnueabihf_beta.docker
  docker/lnx_gnueabihf_nightly.docker
  docker/lnx_gnueabihf_stable.docker
Due: docker_base

CI: Added cargo
  docker/win_x86_64_beta.docker
  docker/win_x86_64_nightly.docker
  docker/win_x86_64_stable.docker
Due: docker_base

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly

CI: Removed docker call
  build.sh
Due: none

CI: Added staging deploy
  .gitlab-ci.yml
Due: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly

CI: Added ssh to deploy stage
  .gitlab-ci.yml
Due: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly

CI: Changed wrong install command
  .gitlab-ci.yml
Due: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly

CI: changed from alpine to ubuntu for deploy
  .gitlab-ci.yml
Due: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly

CI: Trying different deployment strategy
  .gitlab-ci.yml
  nginx.conf
Due: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly

Changed domain
  nginx.conf
Due: none

Dockerfile now is based on docker-arch/arch and installs openssh & rsync
  Dockerfile
Due: none

CI: Using new docker image for deployment
  .gitlab-ci.yml
Due: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly

CI: Fixed YAML (removed list tags from variables)
  .gitlab-ci.yml
Due: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly

CI: Removed 'needs for docker'
  .gitlab-ci.yml
Due: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly

Changed base image to yay
  Dockerfile
Due: none

CI: Removed invalid file to sync
  .gitlab-ci.yml
Due: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly

CI: Allow failing of removing container
  .gitlab-ci.yml
Due: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly

CI: added stop to deploy command
  .gitlab-ci.yml
Due: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly

Update nginx.conf
  nginx.conf
Due: none

CI: Checking if container is deployed
  .gitlab-ci.yml
Due: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly

CI: Fixed deploy command
  .gitlab-ci.yml
Due: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly

CI: Cleaned pipeline
  .gitlab-ci.yml
Due: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly

Nginx: Added missing ;
  nginx.conf
Due: none

Nginx: Added $uri/index.html to try
  nginx.conf
Due: none

CI: Using an image with SASS for building
  .gitlab-ci.yml
Due: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly

Nginx: Added SVG to mime-types
  nginx.conf
Due: none

Nginx: trying different svg type
  nginx.conf
Due: none

Nginx: trying to remove '+xml' from type
  nginx.conf
Due: none

Reverted removing '+xml'
  nginx.conf
Due: none

Nginx: Added gzip support
  nginx.conf
Due: none

CI: Changed paths (+ changed os of host)
  .gitlab-ci.yml
Due: docker_base, docker_lnx_x86_64_stable, docker_lnx_x86_64_beta, docker_lnx_x86_64_nightly

Docker: Including Nginx default mime file
  nginx.conf
Due: none

Path conditions:
  docker_base: any of: .gitlab-ci.yml, .gitlab-ci-docker.yml, .gitlab-ci-docker-lnx.yml, .gitlab-ci-docker-win.yml, .gitlab-ci-rust-validation-win.yml, .gitlab-ci-rust-validation.yml, .gitlab-ci-rust-build.yml, .gitlab-ci-rust-build-lnx.yml, .gitlab-ci-rust-build-win.yml, .gitlab-ci-docker-base.yml, .gitlab-ci-rust-validation-lnx.yml, docker/*
  docker_lnx_x86_64_stable: any of: .gitlab-ci*, docker/base.docker, docker/lnx_x86_64_stable
  docker_lnx_x86_64_beta: any of: .gitlab-ci*, docker/base.docker, docker/lnx_x86_64_beta
  docker_lnx_x86_64_nightly: any of: .gitlab-ci*, docker/base.docker, docker/lnx_x86_64_nightly
